<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="model_path" value="$(find amber_sim)/urdf/amber.xacro" />
    <param name="robot_description" command="xacro $(arg model_path)" />


    <include file="$(find gazebo_ros)/launch/empty_world.launch" />


    <node name="amber_bot" pkg="gazebo_ros" type="spawn_model" output="screen"
        args="-urdf -model AMBER -param robot_description" />

</launch>