<?xml version="1.0" ?>


<robot name="AMBER" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find amber_sim)/urdf/single_leg.xacro"/>

    <link name="head">
    <visual>
      <origin rpy="0 0 0" xyz="0.7 1 1.5"/>
      <geometry>
        <box size="2 2 0.5"/>
      </geometry>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0615"/>
      <mass value="0.190421352"/>
      <inertia ixx="0.000279744834534" ixy="0" ixz="0" iyy="0.000265717763008" iyz="0" izz="6.53151584738e-05"/>
    </inertial>
  </link>

    <xacro:amber_leg id="0" x="0" y="0" z="1" joint="head"/>
    <xacro:amber_leg id="1" x="0" y="2" z="1" joint="head"/>
    <xacro:amber_leg id="2" x="1.5" y="0" z="1" joint="head"/>
    <xacro:amber_leg id="3" x="1.5" y="2" z="1" joint="head"/>

</robot>