<?xml version="1.0" ?>


<robot name="AMBER" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- BODY DIMENSIONS -->
    <xacro:property name="xdb" value="1.71" />
    <xacro:property name="ydb" value="0.683" />
    <xacro:property name="zdb" value="0.41" />

    <xacro:include filename="$(find amber_sim)/urdf/single_leg.xacro"/>

    <link name="head">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 1"/>
      <material name="body">
        <color rgba="0.5 0.6 0.9 1.0" />
      </material>
      <geometry>
        <mesh filename="package://amber_sim/stl/BODY.stl"/>
      </geometry>
    </visual>
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.0615"/>
      <mass value="54.40980"/>
      <inertia ixx="3.663e+06" ixy="14390.775" ixz="1.424e+06" 
               iyy="1.560e+07" iyz="8027.636" izz="1.721e+07"/>
    </inertial>
  </link>

    <xacro:amber_leg id="bottom_right" x="${xt-0.6}" y="${-ydb/2 - ydl/2}" z="${1-1.5*zt}" joint="head" dir="1"/>
    <xacro:amber_leg id="bottom_left" x="${xt-0.6}" y="${ydb/2 + ydl/2}" z="${1-1.5*zt}" joint="head" dir="-1"/>
    <xacro:amber_leg id="top_right" x="${xt+0.6}" y="${-ydb/2 - ydl/2}" z="${1-1.5*zt}" joint="head" dir="1"/>
    <xacro:amber_leg id="top_left" x="${xt+0.6}" y="${ydb/2 + ydl/2}" z="${1-1.5*zt}" joint="head" dir="-1"/>

</robot>